/* Portfolio Main Styles */
.portfolio-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner {
    border: 10px solid #f3f3f3; /* Gray background */
    border-top: 10px solid gray; /* Blue spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-container p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}
